# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
/tmp

# Ignore all swapfiles
*.swp
.*
*/.DS_Store

/config/api-key.yml

# Ignore these files
/config/database.yml
